# Project 3

In this project, you will perform a logistic regression on the admissions data we've been working with in projects 1 and 2.

In [159]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pylab as pl
import numpy as np
from sklearn.linear_model import LogisticRegression

In [160]:
df_raw = pd.read_csv("../assets/admissions.csv")
df = df_raw.dropna() 
print df.head()

   admit    gre   gpa  prestige
0      0  380.0  3.61       3.0
1      1  660.0  3.67       3.0
2      1  800.0  4.00       1.0
3      1  640.0  3.19       4.0
4      0  520.0  2.93       4.0

## Part 1. Frequency Tables

#### 1. Let's create a frequency table of our variables

In [161]:
# frequency table for prestige and whether or not someone was admitted
print 'Frequency count for prestige ...'
df['prestige'].value_counts()

Frequency count for prestige ...

2.0    148
3.0    121
4.0     67
1.0     61
Name: prestige, dtype: int64

In [162]:
print 'Frequency count for admit ...'
df['admit'].value_counts()

Frequency count for admit ...

0    271
1    126
Name: admit, dtype: int64

## Part 2. Return of dummy variables

#### 2.1 Create class or dummy variables for prestige

In [163]:
#dummy_ranks = pd.get_dummies(df['prestige'].apply(lambda x : int(x)), drop_first=True, prefix='prestige')
dummy_ranks = pd.get_dummies(df['prestige'].apply(lambda x: int(x)), prefix='prestige')
#df = pd.concat([dm, df], axis=1)
dummy_ranks.head(5)

   prestige_1  prestige_2  prestige_3  prestige_4
0           0           0           1           0
1           0           0           1           0
2           1           0           0           0
3           0           0           0           1
4           0           0           0           1

#### 2.2 When modeling our class variables, how many do we need?

Answer: We need three dummy variables to represent 4 categories of prestige

## Part 3. Hand calculating odds ratios

Develop your intuition about expected outcomes by hand calculating odds ratios.

In [164]:
cols_to_keep = ['admit', 'gre', 'gpa']
handCalc = df[cols_to_keep].join(dummy_ranks.loc[:, 'prestige_1':])
print handCalc.head()

   admit    gre   gpa  prestige_1  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           0           1           0
1      1  660.0  3.67           0           0           1           0
2      1  800.0  4.00           1           0           0           0
3      1  640.0  3.19           0           0           0           1
4      0  520.0  2.93           0           0           0           1

In [165]:
#crosstab prestige 1 admission 
# frequency table cutting prestige and whether or not someone was admitted
pd.crosstab(df["prestige"], df["admit"])

admit      0   1
prestige
1.0       28  33
2.0       95  53
3.0       93  28
4.0       55  12

#### 3.1 Use the cross tab above to calculate the odds of being admitted to grad school if you attended a #1 ranked college

Answer: 33:28

#### 3.2 Now calculate the odds of admission if you did not attend a #1 ranked college

In [166]:
handCalc.query('prestige_2 == 1 or prestige_3 == 1 or prestige_4 == 1')['admit'].value_counts()

0    243
1     93
Name: admit, dtype: int64

#### 3.3 Calculate the odds ratio

Answer: 93:243

#### 3.4 Write this finding in a sentenance:

Answer: Chances of admission is around 28% for schools with prestige 2, 3 or 4

#### 3.5 Print the cross tab for prestige_4

In [167]:
handCalc.query('prestige_4 == 1')['admit'].value_counts()

0    55
1    12
Name: admit, dtype: int64

#### 3.6 Calculate the OR

Answer: 12:55

#### 3.7 Write this finding in a sentence

Answer: Chances of admission is around 18% for prestige_4 schools

## Part 4. Analysis

In [179]:
# create a clean data frame for the regression
cols_to_keep = ['admit', 'gre', 'gpa']
data = df[cols_to_keep].join(dummy_ranks.loc[:, 'prestige_2':])
print data.head()

   admit    gre   gpa  prestige_2  prestige_3  prestige_4
0      0  380.0  3.61           0           1           0
1      1  660.0  3.67           0           1           0
2      1  800.0  4.00           0           0           0
3      1  640.0  3.19           0           0           1
4      0  520.0  2.93           0           0           1

We're going to add a constant term for our Logistic Regression. The statsmodels function we're going to be using requires that intercepts/constants are specified explicitly.

In [169]:
# manually add the intercept
data['intercept'] = 1.0

#### 4.1 Set the covariates to a variable called train_cols

In [170]:
model = LogisticRegression(C=1e9)
train_cols = ['gre', 'gpa', "prestige_2", "prestige_3", "prestige_4"]

#### 4.2 Fit the model

In [171]:
lm_multi = smf.logit(formula = "admit ~ gre + gpa + C(prestige_2) + C(prestige_3) + C(prestige_4)", data=data).fit()

Optimization terminated successfully.
         Current function value: 0.573854
         Iterations 6

In [172]:
model.fit(data[train_cols], data['admit'])

LogisticRegression(C=1000000000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

#### 4.3 Print the summary results

In [173]:
lm_multi.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                  admit   No. Observations:                  397
Model:                          Logit   Df Residuals:                      391
Method:                           MLE   Df Model:                            5
Date:                Fri, 30 Jun 2017   Pseudo R-squ.:                 0.08166
Time:                        22:27:50   Log-Likelihood:                -227.82
converged:                       True   LL-Null:                       -248.08
                                        LLR p-value:                 1.176e-07
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             -3.8769      1.142     -3.393      0.001      -6.116      -1.638
C(prestige_2)[T.1]    -0.6801      0.317     -2.146      0.032      -1.301      -0.059
C(prestige_3)[T.1]    -1.3387      0.345     -3.882      0.000      -2.015      -0.663
C(prestige_4)[T.1]    -1.5534      0.417     -3.721      0.000      -2.372      -0.735
gre                    0.0022      0.001      2.028      0.043    7.44e-05       0.004
gpa                    0.7793      0.333      2.344      0.019       0.128       1.431
======================================================================================
"""

#### 4.4 Calculate the odds ratios of the coeffiencents and their 95% CI intervals

hint 1: np.exp(X)

hint 2: conf['OR'] = params
        
           conf.columns = ['2.5%', '97.5%', 'OR']

In [174]:
lm_multi.params

Intercept            -3.876854
C(prestige_2)[T.1]   -0.680137
C(prestige_3)[T.1]   -1.338677
C(prestige_4)[T.1]   -1.553411
gre                   0.002218
gpa                   0.779337
dtype: float64

In [175]:
conf = lm_multi.conf_int(alpha=0.025)
conf['OR'] = lm_multi.params
conf.columns = ['2.5%', '97.5%', 'OR']
print(np.exp(conf))

                        2.5%     97.5%        OR
Intercept           0.001600  0.268181  0.020716
C(prestige_2)[T.1]  0.248942  1.030727  0.506548
C(prestige_3)[T.1]  0.121040  0.567951  0.262192
C(prestige_4)[T.1]  0.082983  0.539180  0.211525
gre                 0.999767  1.004681  1.002221
gpa                 1.034622  4.593482  2.180027

#### 4.5 Interpret the OR of Prestige_2

Answer: OR of prestige_2 for admission is 0.5. Odds of admission decreases by 50% for colleges with prestige_2.

#### 4.6 Interpret the OR of GPA

Answer: OR of GPA for admission is 2.2. Odds of admission increases by 218% with increase in GPA

## Part 5: Predicted probablities

As a way of evaluating our classifier, we're going to recreate the dataset with every logical combination of input values. This will allow us to see how the predicted probability of admission increases/decreases across different variables. First we're going to generate the combinations using a helper function called cartesian (above).

We're going to use np.linspace to create a range of values for "gre" and "gpa". This creates a range of linearly spaced values from a specified min and maximum value--in our case just the min/max observed values.

In [176]:
def cartesian(arrays, out=None):
    """
    Generate a cartesian product of input arrays.
    Parameters
    ----------
    arrays : list of array-like
        1-D arrays to form the cartesian product of.
    out : ndarray
        Array to place the cartesian product in.
    Returns
    -------
    out : ndarray
        2-D array of shape (M, len(arrays)) containing cartesian products
        formed of input arrays.
    Examples
    --------
    >>> cartesian(([1, 2, 3], [4, 5], [6, 7]))
    array([[1, 4, 6],
           [1, 4, 7],
           [1, 5, 6],
           [1, 5, 7],
           [2, 4, 6],
           [2, 4, 7],
           [2, 5, 6],
           [2, 5, 7],
           [3, 4, 6],
           [3, 4, 7],
           [3, 5, 6],
           [3, 5, 7]])
    """

    arrays = [np.asarray(x) for x in arrays]
    dtype = arrays[0].dtype

    n = np.prod([x.size for x in arrays])
    if out is None:
        out = np.zeros([n, len(arrays)], dtype=dtype)

    m = n / arrays[0].size
    out[:,0] = np.repeat(arrays[0], m)
    if arrays[1:]:
        cartesian(arrays[1:], out=out[0:m,1:])
        for j in xrange(1, arrays[0].size):
            out[j*m:(j+1)*m,1:] = out[0:m,1:]
    return out

In [177]:
# instead of generating all possible values of GRE and GPA, we're going
# to use an evenly spaced range of 10 values from the min to the max 
gres = np.linspace(data['gre'].min(), data['gre'].max(), 10)
print gres
# array([ 220.        ,  284.44444444,  348.88888889,  413.33333333,
#         477.77777778,  542.22222222,  606.66666667,  671.11111111,
#         735.55555556,  800.        ])
gpas = np.linspace(data['gpa'].min(), data['gpa'].max(), 10)
print gpas
# array([ 2.26      ,  2.45333333,  2.64666667,  2.84      ,  3.03333333,
#         3.22666667,  3.42      ,  3.61333333,  3.80666667,  4.        ])


# enumerate all possibilities
combos = pd.DataFrame(cartesian([gres, gpas, [1, 2, 3, 4], [1.]]))

[ 220.          284.44444444  348.88888889  413.33333333  477.77777778
  542.22222222  606.66666667  671.11111111  735.55555556  800.        ]
[ 2.26        2.45333333  2.64666667  2.84        3.03333333  3.22666667
  3.42        3.61333333  3.80666667  4.        ]

#### 5.1 Recreate the dummy variables

In [192]:
# recreate the dummy variables

# keep only what we need for making predictions
combos.columns = ['gre', 'gpa', 'prestige', 'admit']
dummy_ranks = pd.get_dummies(df['prestige'].apply(lambda x : int(x)), prefix='prestige')
#dummy_ranks.head()
#pd.join([combos,dummy_ranks], axis=1)
combos.join(dummy_ranks)

,gre,gpa,prestige,admit,prestige_1,prestige_2,prestige_3,prestige_4
0,220.0,2.260000,1.0,1.0,0.0,0.0,1.0,0.0
1,220.0,2.260000,2.0,1.0,0.0,0.0,1.0,0.0
2,220.0,2.260000,3.0,1.0,1.0,0.0,0.0,0.0
3,220.0,2.260000,4.0,1.0,0.0,0.0,0.0,1.0
4,220.0,2.453333,1.0,1.0,0.0,0.0,0.0,1.0
5,220.0,2.453333,2.0,1.0,0.0,1.0,0.0,0.0
6,220.0,2.453333,3.0,1.0,1.0,0.0,0.0,0.0
7,220.0,2.453333,4.0,1.0,0.0,1.0,0.0,0.0
8,220.0,2.646667,1.0,1.0,0.0,0.0,1.0,0.0
9,220.0,2.646667,2.0,1.0,0.0,1.0,0.0,0.0
10,220.0,2.646667,3.0,1.0,0.0,0.0,0.0,1.0
11,220.0,2.646667,4.0,1.0,1.0,0.0,0.0,0.0
12,220.0,2.840000,1.0,1.0,1.0,0.0,0.0,0.0
13,220.0,2.840000,2.0,1.0,0.0,1.0,0.0,0.0
14,220.0,2.840000,3.0,1.0,1.0,0.0,0.0,0.0
15,220.0,2.840000,4.0,1.0,0.0,0.0,1.0,0.0
16,220.0,3.033333,1.0,1.0,0.0,0.0,0.0,1.0
17,220.0,3.033333,2.0,1.0,0.0,0.0,1.0,0.0
18,220.0,3.033333,3.0,1.0,0.0,1.0,0.0,0.0
19,220.0,3.033333,4.0,1.0,1.0,0.0,0.0,0.0
20,220.0,3.226667,1.0,1.0,0.0,0.0,1.0,0.0
21,220.0,3.226667,2.0,1.0,0.0,1.0,0.0,0.0
22,220.0,3.226667,3.0,1.0,0.0,0.0,0.0,1.0
23,220.0,3.226667,4.0,1.0,0.0,0.0,0.0,1.0
24,220.0,3.420000,1.0,1.0,0.0,1.0,0.0,0.0
25,220.0,3.420000,2.0,1.0,1.0,0.0,0.0,0.0
26,220.0,3.420000,3.0,1.0,1.0,0.0,0.0,0.0
27,220.0,3.420000,4.0,1.0,0.0,0.0,0.0,1.0
28,220.0,3.613333,1.0,1.0,0.0,1.0,0.0,0.0
29,220.0,3.613333,2.0,1.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
370,800.0,2.646667,3.0,1.0,0.0,1.0,0.0,0.0
371,800.0,2.646667,4.0,1.0,0.0,0.0,1.0,0.0
372,800.0,2.840000,1.0,1.0,1.0,0.0,0.0,0.0
373,800.0,2.840000,2.0,1.0,1.0,0.0,0.0,0.0
374,800.0,2.840000,3.0,1.0,0.0,1.0,0.0,0.0
375,800.0,2.840000,4.0,1.0,0.0,0.0,0.0,1.0
376,800.0,3.033333,1.0,1.0,0.0,1.0,0.0,0.0
377,800.0,3.033333,2.0,1.0,0.0,1.0,0.0,0.0
378,800.0,3.033333,3.0,1.0,0.0,0.0,1.0,0.0
379,800.0,3.033333,4.0,1.0,0.0,1.0,0.0,0.0
380,800.0,3.226667,1.0,1.0,0.0,1.0,0.0,0.0
381,800.0,3.226667,2.0,1.0,0.0,1.0,0.0,0.0
382,800.0,3.226667,3.0,1.0,0.0,1.0,0.0,0.0
383,800.0,3.226667,4.0,1.0,1.0,0.0,0.0,0.0
384,800.0,3.420000,1.0,1.0,0.0,1.0,0.0,0.0
385,800.0,3.420000,2.0,1.0,1.0,0.0,0.0,0.0
386,800.0,3.420000,3.0,1.0,0.0,1.0,0.0,0.0
387,800.0,3.420000,4.0,1.0,0.0,1.0,0.0,0.0
388,800.0,3.613333,1.0,1.0,0.0,1.0,0.0,0.0
389,800.0,3.613333,2.0,1.0,0.0,1.0,0.0,0.0
390,800.0,3.613333,3.0,1.0,0.0,1.0,0.0,0.0
391,800.0,3.613333,4.0,1.0,0.0,1.0,0.0,0.0
392,800.0,3.806667,1.0,1.0,0.0,0.0,1.0,0.0
393,800.0,3.806667,2.0,1.0,0.0,1.0,0.0,0.0
394,800.0,3.806667,3.0,1.0,0.0,0.0,1.0,0.0
395,800.0,3.806667,4.0,1.0,0.0,1.0,0.0,0.0
396,800.0,4.000000,1.0,1.0,0.0,0.0,1.0,0.0
397,800.0,4.000000,2.0,1.0,0.0,1.0,0.0,0.0
398,800.0,4.000000,3.0,1.0,0.0,1.0,0.0,0.0
399,800.0,4.000000,4.0,1.0,0.0,0.0,1.0,0.0

#### 5.2 Make predictions on the enumerated dataset

In [193]:
cols_to_keep = ['admit', 'gre', 'gpa']
test_data = combos[cols_to_keep].join(dummy_ranks.loc[:, 'prestige_1':])
#test_data.head()
lm_multi.predict(test_data)

0      0.048977
1      0.048977
2      0.164173
3      0.039890
4      0.046078
5      0.103682
6      0.185907
7      0.103682
8      0.065080
9      0.118543
10     0.053173
11     0.209795
12     0.235865
13     0.135214
14     0.235865
15     0.074871
16     0.070553
17     0.085999
18     0.153820
19     0.264090
20     0.098605
21     0.174469
22     0.081096
23     0.081096
24     0.197244
25     0.326629
26     0.326629
27     0.093056
28     0.222192
29     0.360591
         ...
370    0.327476
371    0.201304
372    0.527768
373    0.527768
374    0.361479
375    0.191201
376    0.396929
377    0.396929
378    0.254108
379    0.396929
380    0.433495
381    0.433495
382    0.433495
383    0.601694
384    0.470800
385    0.637193
386    0.470800
387    0.470800
388    0.508433
389    0.508433
390    0.508433
391    0.508433
392    0.383639
393    0.545972
394    0.383639
395    0.545972
396    0.419833
397    0.582995
398    0.582995
399    0.419833
Length: 400, dtype: float64

#### 5.3 Interpret findings for the last 4 observations

Answer: Odds of admission decreases by 58% for prestige_2 and the Odds of admission decreases by 41% for prestige_3

## Bonus

Plot the probability of being admitted into graduate school, stratified by GPA and GRE score.